nav{
  text-align: left;
  position: relative;
  padding: 0 60px 0 60px;
  background-color: grey;
  height: 60px;
  width: 100%;
  margin: 0;
}
nav ul li {
  list-style-type: none;
  display: inline;
}
nav ul li::after {
  content: " | "
}
.logo {
  position: absolute;
  height: 50px;
  left: 30px;
  border: 1px black solid;
  margin-top: 5px;
  border-radius: 50%;
}
.box {
  width: 600px;
  height: 300px;
  border: 10px dotted green;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.cat, .dog{
  width: 200px;
  position: relative;
}
.cat {
  right: 100px;
  bottom: 100px;
}
.dog {
  left: 250px;
  top: 200px;
}
body {
  background: url("../images/outerspace_landscape.jpeg") no-repeat center center fixed;
  background-size: cover;
}
